body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #444;
}
a {
  color: #00B7FF;
}
canvas {
  cursor: crosshair;
}
.panel {
  float: right;
  text-align: right;
}
[id^=fps] {
  display: inline-block;
}
[id$=log] p {
  margin: 3px 0;
}
[id$=log]:after {
  content: '';
  display: block;
  clear: both;
}
[id$=log] .system {
  color: #df0;
  font-style: italic;
}
