{% extends 'layout.twig' %}

{% block body %}
    <h1>{{ title }}</h1>
    <p>Welcome to LaMario</p>

    <div class="panel">
        FPS <h2 id="fps-log">0</h2>
        <div id="combat-log"></div>
    </div>
    <canvas id="canvas" width="800" height="800">Элемент не поддерживается браузером</canvas>
    <script data-main="/js/game/index.js" src="/node_modules/requirejs/require.js"></script>

{% endblock %}
