{% extends 'layout.twig' %}

{% block body %}
    <h1>{{ title }}</h1>

    <div id="map" style="height: 500px;"></div>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="/js/map.js"></script>

{% endblock %}
