{% extends 'layout.twig' %}

{% block head %}
    <link rel='stylesheet' href='/style/starship.css' />
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>

    <div id="panel">
        <h3>Счет: <span id="score">0</span></h3>
        <!--    <h4 class="status">-</h4>-->
    </div>

    <div id="wrapper">
        <canvas id="game" width="900" height="900">Элемент не поддерживается</canvas>
    </div>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/js/starship/index.js"></script>

{% endblock %}
