{% extends 'layout.twig' %}

{% block body %}
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>

    <style>
        video {
            max-width: 150px;
            margin: 5px;
        }
    </style>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/js/video.js"></script>


    <div class="videos-list"></div>

{% endblock %}
